@use 'styles/reset';
@use 'styles/variables' as *;

body {
  background-color: var(--bg-body);
  color: var(--text-main);
  font-family: 'Inter', sans-serif;
}

h1,
h2,
h3 {
  font-weight: 700;
  color: var(--text-main);
  line-height: 1.2;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 $spacing-md;
}
